

// 共通レイアウト
body{
  color: #333;
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
  margin: 33px;
}

p, td, ul{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

a{
  color: black;
}

a:hover{
  color: white;
  background-color: black;
}

//投稿一覧ページ
th{
  padding-bottom: 5px;
}

td{
  padding: 1px 5px 7px 5px;
}

// 新規投稿
label{
  display: block;
}

div.field, div.btn{
  margin-bottom: 10px;
}

#notice{
  color: green;
}

.field_with_errors{
  padding: 2px;
  background-color: red;
  display: table;
}

// エラ-メッセージ
#error_explanation{
  width: 450px;
  padding: 7px 7px 0px 7px;
  margin-bottom: 20px;
  border: 2px solid red;
  background-color: #f0f0f0;
}

#error_explanation h2{
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  margin-bottom: 0px;
  color: white;
  background-color: #c00;
}

#error_explanation ul li{
  font-size: 12px;
  list-style: square;
}